@use '../../settings/fonts' as *;
@use '../../settings/colors' as *;
@use '../../settings/functions' as *;
@use '../../settings/mixins' as *;

.program-top {
  display: grid;
  grid-template-columns: minmax(rem(300), rem(960)) minmax(rem(300), rem(400));
  gap: rem(10);
  align-items: flex-start;
  justify-content: space-between;

  &__description {
    display: flex;
    flex-direction: column;
    gap: rem(24);

    &-title {
      @include title-lg;
    }

    &-text {
      @include text-base;
      line-height: 1.4;

      &--accent {
        @include green-accent;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: rem(16);
    padding: rem(24);
    border-radius: rem(4);
    background-color: $gray-light;

    &-text {
      @include text-base;
      color: $black;
      max-width: rem(350);
    }

    &-accent {
      @include text-base;
      color: $gray;
    }
  }
}

@media (max-width: rem(840)) {
  .program-top {
    grid-template-columns: 1fr;

    &__details {
      display: none;
    }
  }
}
