.text {
  &__base {
    @include text-base;
  }

  &__sm {
    @include text-sm;
  }

  &__black {
    color: $black;
  }

  &__white {
    color: $white;
  }

  &__gray {
    color: $gray;
  }

  &__green {
    color: $main-green;
  }

  @media (max-width: rem($mobile)) {
    &__base {
      @include text-lm;
    }
  }

  @media (max-width: rem($mobile-l)) {
    &__base {
      @include text-sm;
    }
  }
}