.features {

  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(24);
  }

  &__grid {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: rem(10);
  }
}