/* Error: Undefined mixin.
 *   ,
 * 2 |   @include fz-16($fw-medium);
 *   |   ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   ToursButton.module.scss 2:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 2 \2502    @include fz-16($fw-medium);\d\a   \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   ToursButton.module.scss 2:3  root stylesheet";
}
