.bottom {
  display: grid;
  grid-template-columns: repeat(2, minmax(rem(300), rem(570)));
  gap: rem(10);
  align-items: flex-start;
  justify-content: space-between;

  &__item {
    display: flex;
    flex-direction: column;
    gap: rem(8);
  }

  &__title {
    @include title-md;

    display: flex;
    align-items: center;
    gap: rem(12);

    text-transform: uppercase;
    color: $gray;

    &-icon {
      width: rem(16);
      height: rem(16);
      flex: 0 0 rem(16);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(8);

    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__line {
    @include text-base;

    display: block;
    color: $black;

    &::before {
      content: '';
      display: inline-block;
      width: rem(14);
      height: rem(1);
      margin-right: rem(8);
      margin-bottom: rem(4);
      background: currentColor;
    }

    &-text {
      display: inline;
    }
  }

  &__list__included &__line::before {
    color: $main-green;
  }

  &__list__excluded &__line::before {
    color: $red;
  }

  @media (max-width: rem(900)) {
    grid-template-columns: 1fr;
    gap: rem(10);

    &__item {
      padding: rem(10) rem(12);
      background: $white;
      box-shadow: 0 rem(8) rem(20) rgba($black, 0.06);
    }
  }
}