.logo {
  display: block;
  width: clamp(rem(60), 10vw, rem(100));
  flex-shrink: 0;

  &__image {
    display: block;
    width: 100%;
    height: auto;

    &_black {
      display: none;
    }
  }

  @media (max-width: rem($mobile)) {
    &__image {
      &_white {
        display: none;
      }

      &_black {
        display: block;
      }
    }
  }
}