.top {
  display: grid;
  grid-template-columns: minmax(rem(300), rem(960)) minmax(rem(300), rem(400));
  gap: rem(10);
  align-items: flex-start;
  justify-content: space-between;

  &__details, &__actions {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: rem(24);

    &_text {
      @include text-base;
      line-height: 1.4;

      &__accent {
        @include green-accent;
      }
    }
  }

  @media (max-width: rem($tablet)) {
    grid-template-columns: 1fr;

    &__actions {
      display: none;
    }
  }
}

