.top {
  display: grid;
  grid-template-columns: minmax(rem(300), rem(960)) minmax(rem(300), rem(400));
  gap: rem(10);
  align-items: flex-start;
  justify-content: space-between;

  &__details {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }

  &__actions {
    background: $gray-light;
    display: flex;
    flex-direction: column;
    gap: rem(16);
    padding:rem(24);
    border-radius:rem(4);
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: rem(24);
  }

  @media (max-width: rem($tablet)) {
    grid-template-columns: 1fr;

    &__actions {
      display: none;
    }
  }
}

