/* Error: 2 arguments required, but only 1 was passed.
 *   ,
 * 3 |   grid-template-columns: minmax(rem(300), rem(960)) minmax(rem(300), rem(400));
 *   |                                 ^^^^^^^^
 *   '
 *   ProgramTop.module.scss 3:33  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: 2 arguments required, but only 1 was passed.\a   \2577 \a 3 \2502    grid-template-columns: minmax(rem(300), rem(960)) minmax(rem(300), rem(400));\d\a   \2502                                  ^^^^^^^^\a   \2575 \a   ProgramTop.module.scss 3:33  root stylesheet";
}
