.list {
  display: flex;
  flex-direction: column;
  gap: rem(18);

  &__group {
    display: flex;
    flex-direction: column;
    gap: rem(4);
  }

  &__title,
  &__item {
    @include text-base;
  }

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}