@use '../../settings/fonts' as *;
@use '../../settings/colors' as *;
@use '../../settings/functions' as *;
@use '../../settings/mixins' as *;
@use '../../settings/containers' as *;

.header-bottom {
  padding: rem(22) 0;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: rem(10);

  &__stats {
    display: flex;
    align-items: flex-end;
    gap: rem(48);
  }

  &__stat {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }

  &__value-desktop {
    @include fz-40($fw-extra-bold);
    color: $white;

    &-text {
      @include fz-16($fw-regular);
    }
  }

  &__label-desktop {
    @include fz-16($fw-regular);
    color: $white;
  }

  &__value-mobile,
  &__label-mobile {
    display: none;
  }

  &__information {
    display: flex;
    align-items: flex-end;
    gap: rem(20);
  }

  &__text {
    max-width: 100%;
    @include fz-16($fw-regular);
    color: $white;

    &-accent {
      color: $main-green;
    }
  }

  &__rating {
    @include rating-bars($white);
  }

  //ADAPTIVE
  @media (max-width: rem($w_1280)) {
    &__text {
      display: none;
    }
  }

  @media (max-width: rem($w_840)) {
    &__stat {
      align-items: center;
      justify-content: center;
      gap: rem(2);
      text-align: center;
    }

    &__value-desktop,
    &__label-desktop,
    .rating-bars__item {
      display: none;
    }

    &__value-mobile,
    &__label-mobile {
      display: block;
      color: $white;
    }

    &__value-mobile {
      @include fz-18($fw-bold);
    }

    &__label-mobile {
      @include fz-12($fw-regular);
    }
  }

  @media (max-width: rem($w_700)) {
    &__information {
      display: none;
    }

    &__stats {
      justify-content: space-between;
      width: 100%;
      height: rem(30);
      gap: rem(1);
    }

    &__value-mobile,
    &__label-mobile {
      display: block;
      color: $gray;
    }
  }
}