@use '../../../scss/settings/fonts' as *;
@use '../../../scss/settings/colors' as *;
@use '../../../scss/settings/functions' as *;
@use '../../../scss/settings/mixins' as *;

.button {
  @include fz-16($fw-medium);
  color: $main-green;

  border: 0;
  background: transparent;
  cursor: pointer;

  transition: 0.3s all ease-in-out;

  &:hover {
    @include green-hover;
  }
}