.header {
  background-image:
          linear-gradient(rgba(0, 0, 0, .35), rgba(0, 0, 0, .35)),
          url('../../../images/bg.png');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: rem($mobile)) {
    background-image: none;
  }
}