@use '../../settings/fonts' as *;
@use '../../settings/colors' as *;
@use '../../settings/functions' as *;
@use '../../settings/mixins' as *;

.information-bottom {
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(16);

    padding: rem(24) rem(20);
    box-shadow: 0 1.25rem 2.8125rem rgba($black, 0.08);
    flex: 0 1 rem(590);
    border-radius: rem(2);
  }

  &__title {
    @include title-md;
    text-transform: uppercase;
  }

  &__text {
    @include text-base;
    text-align: left;

    &--accent {
      @include green-accent;
    }
  }
}