.middle {
  margin-top: clamp(rem(40), 8vw, rem(84));

  display: grid;
  grid-template-columns: 1fr rem(54);
  gap: rem(10);

  &__banner {
    display: grid;
    gap: rem(16);

    max-width: rem(930);
  }

  &__title {
    @include title-hero;

    max-width: clamp(rem(530), 60vw, rem(670));

    color: $white;
    text-transform: uppercase;
  }

  @media (max-width: rem($w_700)) {
    grid-template-columns: 1fr;
    margin-top: rem(24);
    gap: rem(16);

    &__banner {
      display: flex;
      flex-direction: column;
      max-width: none;
    }

    &__title {
      @include fz-20($fw-bold);

      order: 1;
      max-width: 100%;

      color: $black;
      text-transform: uppercase;
    }
  }
}