.title {
  @include title-md;

  margin: 0;
  text-transform: uppercase;

  &_gray {
    color: $gray;
  }

  &_green {
    color: $main-green;
  }

  &_red {
    color: $red;
  }

  &_black {
    color: $black;
  }

  @media (max-width: rem($mobile)) {
    @include title-ml;
  }

  @media (max-width: rem($mobile-l)) {
    @include title-ml;
  }
}