.stats {
  display: flex;

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__unit {
    margin-left: rem(6);
  }

  &__mobile_value,
  &__mobile_label {
    display: none;
  }

  &_hero {
    align-items: flex-end;
    gap: rem(48);

    .stats__item {
      gap: rem(10);
    }

    .stats__value {
      @include fz-40($fw-extra-bold);
      color: $white;
    }

    .stats__unit {
      @include fz-16($fw-regular);
    }

    .stats__label {
      @include fz-16($fw-regular);
      color: $white;
    }
  }

  &_card {
    justify-content: space-between;
    width: 100%;

    .stats__item {
      align-items: center;
      gap: rem(2);
      text-align: center;
    }

    .stats__value,
    .stats__label {
      display: none;
    }

    .stats__mobile_value,
    .stats__mobile_label {
      display: block;
      color: $gray;
    }

    .stats__mobile_value {
      @include fz-18($fw-bold);
    }

    .stats__mobile_label {
      @include fz-12($fw-regular);
    }
  }

  @media (max-width: rem($w_840)) {
    &_hero {
      .stats__item {
        align-items: center;
        gap: rem(2);
        text-align: center;
      }

      .stats__value,
      .stats__label {
        display: none;
      }

      .stats__mobile_value,
      .stats__mobile_label {
        display: block;
        color: $white;
      }

      .stats__mobile_value {
        @include fz-18($fw-bold);
      }

      .stats__mobile_label {
        @include fz-12($fw-regular);
      }

      .stats__rating {
        display: none;
      }
    }
  }

  @media (max-width: rem($w_700)) {
    &_hero {
      justify-content: space-between;
      width: 100%;
      height: rem(30);
      gap: rem(1);

      .stats__mobile_value,
      .stats__mobile_label {
        color: $gray;
      }
    }
  }
}