.rating {
  display: flex;
  align-items: flex-end;
  gap: rem(4);

  &__item {
    display: block;
    width: rem(11);
    border: rem(1) solid currentColor;
    border-radius: rem(1.5);

    &:nth-child(1) {
      height: rem(11);
    }

    &:nth-child(2) {
      height: rem(20);
    }

    &:nth-child(3) {
      height: rem(28);
    }
  }

  &_color_white {
    color: $white;
  }

  &_color_gray {
    color: $gray;
  }

  &_size_mobile {
    height: rem(24);
    gap: rem(2);

    .rating__item {
      width: rem(6);

      &:nth-child(1) {
        height: rem(6);
      }

      &:nth-child(2) {
        height: rem(11);
      }

      &:nth-child(3) {
        height: rem(16);
      }
    }
  }

  &_level_1 {
    .rating__item:nth-child(-n + 1) {
      background-color: currentColor;
    }
  }

  &_level_2 {
    .rating__item:nth-child(-n + 2) {
      background-color: currentColor;
    }
  }

  &_level_3 {
    .rating__item:nth-child(-n + 3) {
      background-color: currentColor;
    }
  }
}