@use "base/reset.scss";

//settings
@use 'settings/fonts' as *;
@use 'settings/colors' as *;
@use 'settings/functions' as *;
@use 'settings/mixins' as *;
@use 'settings/containers' as *;
@use 'settings/layout' as *;

//components
@use 'components/button';
@use 'components/button-secondary';
@use 'components/burger';
@use 'components/navigation-tour';
@use 'components/section-progress-bar';
@use 'components/base/typography';
@use 'components/layout/section';
@use 'components/page-header-lite';
@use 'components/tour-card';
@use 'components/calendar-card';
@use 'components/callback-modal';
@use 'components/mobile-routes';

//header
@use './blocks/header/index' as header;
//footer
@use './blocks/tour-date' as tour;
//program
@use './blocks/program/index' as program;
//features
@use './blocks/features/index' as features;
//photos
@use './blocks/trip-photos/index' as trip-photos;
//itinerary
@use './blocks/itinerary/index' as itinerary;
//cost
@use './blocks/cost/index' as cost;
//departures
@use './blocks/departures' as departures;
//information
@use './blocks/information' as information;
//reviews
@use './blocks/reviews' as reviews;
//more
@use './blocks/more' as more;
//footer
@use './blocks/footer' as footer;

* {
  font-family: $ff-inter;
}

.page {
  margin: rem(80) 0;
}

.elements-visible {
  opacity: 0;
}

@media (max-width: rem(700)) {
  .elements-display {
    display: none;
  }

  .page  {
    margin: rem(20) 0 ;
  }
}