.details {
  display: flex;
  flex-direction: column;
  gap: rem(16);
  padding: rem(24);
  border-radius: rem(4);
  background-color: $gray-light;

  &__text {
    @include text-base;
    color: $black;
    max-width: rem(350);
  }

  &__accent {
    @include text-base;
    color: $gray;
  }

  &__active {
    display: none;
  }


  @media (max-width: rem(840)) {
    display: none;
  }
}