.navigation {
  background-color: $gray-light;
  padding: rem(21) 0;

  &__list {
    display: flex;
    align-items: center;
    gap: rem(24);
  }

  &__item {
    display: inline-block;
  }

  &__link {
    @include text-medium;
    color: $gray;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      @include green-hover;
    }
  }
}

@media (max-width: rem(700)) {
  .navigation {
    display: none;
  }
}